
@{
    ViewBag.Title = "Free Demo";
}
<h1>Free Demo</h1>
<div>
    <p>With the Leading Hand you can create invoices and quotes, produce job-cards, book in and keep track of customers, and look at vehicle and plant maintenance histories. The optional modules help you keep track of stock, create purchase orders, manage fleets, show how your business is performing, and interface with accounting packages like MYOB, Reckon Accounts and Xero.</p>
    <p>By making this workshop software management system part of your team you can be sure each job is done properly, so the business runs smoothly and your customers keep coming back.</p>
    <p>To view a free on-line demonstration of <strong>The Leading Hand</strong>, please complete this form. Click the Send button and an email giving you a link to the demo will be sent to your inbox. Note that the fields marked <strong><span style="color: #ff0000;">*</span> </strong>are mandatory.@Html.ActionLink("(Privacy information)", "Privacy", "Home")</p>
    <figure>
        <img src="@Url.Content("~/Images/LHDemoSent.jpg")" width="277" height="300" />
        <figcaption class="wp-caption-text">The Leading Hand demo will be sent straight to your inbox</figcaption>
    </figure>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div>
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.Label("First Name", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.Editor("FirstName", new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessage("FirstName", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.Label("Last Name", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.Editor("LastName", new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessage("LastName", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.Label("Street Address", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.Editor("StreetAddress", new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessage("StreetAddress", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.Label("Suburb", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.Editor("Suburb", new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessage("Suburb", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.Label("State", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.Editor("State", new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessage("State", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.Label("Postcode", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.Editor("Postcode", new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessage("Postcode", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.Label("Country", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.Editor("Country", new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessage("Country", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.Label("Email", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.Editor("Email", new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessage("Email", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.Label("Telephone", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.Editor("Telephone", new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessage("Telephone", new { @class = "text-danger" })
                </div>
            </div>
            <p>
                How did you hear about The Leading Hand?<br />
                Please select all that apply:
            </p>
            <div class="form-group">
                @Html.Label("IAME", htmlAttributes: new { @class = "control-label col-md-2" })
                @Html.CheckBox("IAME", new { htmlAttributes = new { @class = "form-control" } })

            </div>
            <div class="form-group">
                @Html.Label("Referral", htmlAttributes: new { @class = "control-label col-md-2" })
                @Html.CheckBox("Referral", new { htmlAttributes = new { @class = "form-control" } })

            </div>
            <div class="form-group">
                @Html.Label("MYOB", htmlAttributes: new { @class = "control-label col-md-2" })
                @Html.CheckBox("MYOB", new { htmlAttributes = new { @class = "form-control" } })

            </div>
            <div class="form-group">
                @Html.Label("Reckon Accounts", htmlAttributes: new { @class = "control-label col-md-2" })
                @Html.CheckBox("ReckonAccounts", new { htmlAttributes = new { @class = "form-control" } })
            </div>
            <div class="form-group">
                @Html.Label("Google", htmlAttributes: new { @class = "control-label col-md-2" })
                @Html.CheckBox("Google", new { htmlAttributes = new { @class = "form-control" } })
            </div>
            <p>
                Other (please enter below)<br />
                @Html.Editor("Other", new { htmlAttributes = new { @class = "form-control" } })
            </p>
            <div class="form-group">
                <input type="submit" value="Send" class="btn btn-default" />
            </div>
            <p>Note that the fields marked <span style="display: inline; color: red;">*</span> are mandatory</p>
        </div>
    }

</div>

