@{
    ViewBag.Title = "AutomotiveWorkshop";
}
<h1>Cloud or Desktop for Managing Your Automotive Workshop?</h1>
<div>
    Posted on 15/06/2017 &bull;
    @Html.ActionLink("0 Comments", "AutomotiveWorkshop")

</div>
<div>
    <p><strong>A common question for automotive workshop management software these days</strong> is: “Should I have a workshop management system that runs on the cloud or from a desktop?”  “What are the advantages?” “What is best for me?”</p>
    <p><strong>The Leading Hand makes it possible for you to take either option</strong>.  In the video below we discus the issue.</p>
    <p><iframe width="500" height="281" src="www.youtube.com/embed/xPu9bsE9P2I?start=23&#038;wmode=transparent&amp;rel=0&amp;feature=oembed" frameborder="0" allowfullscreen></iframe></p>
    <p><em>To see how The Leading Hand helps with managing an automotive business, </em>@Html.ActionLink("click here.", "Demo", "Service")</p>
    <p>&nbsp;</p>
    <p><strong>So, let’s look at the pros and cons of these systems.</strong></p>
    <p><strong> </strong><strong>WHAT DO WE MEAN BY THE CLOUD?</strong></p>
    <p>Basically when we talk about being “in the Cloud” we mean the program you are using is accessed over the internet and your data is stored there too, rather than on your computer&#8217;s hard drive, also known as “the desktop”.</p>
    <p><strong>What are the advantages of the Cloud?</strong></p>
    <ul>
        <li>A great thing about the <strong>Cloud</strong> is that you can <strong>access your software program wherever you are</strong>, whether at the workshop or the beach.</li>
        <li>Records of the work you have done are <strong>regularly backed up, so you don’t have to worry about remembering to look after your data. </strong></li>
    </ul>
    <p><strong>What about disadvantages of the Cloud?</strong></p>
    <ul>
        <li>Well, there are problems of control and access. If the <strong>internet is down</strong>, you cannot access your program and your business can’t run properly.</li>
        <li><strong>Having fast access carries a cost.</strong> You will even have to pay to get the best access to the Australia NBN when it gets to you.</li>
        <li>The cloud should back up your data, but there are times when <strong>these back up sites break down</strong> and so you don’t have your latest information.</li>
        <li>So essentially you are relying on someone else to look after your business. <strong>You’re not in complete control.</strong></li>
        <li>Also, to operate successfully on the cloud, <strong>programs need to be simple</strong>, and in many cases can only perform one function at a time. So if you want to do more sophisticated work and keep track of several jobs at once, it can’t be done.</li>
        <li>Another thing to consider is that these programs are <strong>only available on a monthly rental basis</strong>. They are never completely yours, and <strong>once you stop paying, your business data is gone</strong> – or you have to <strong>pay a huge fee to get it</strong>.</li>
    </ul>
    <p>&nbsp;</p>
    <p><strong>SO WHAT ABOUT DESKTOP SYSTEMS? </strong></p>
    <p>Desktop access means running your business from your computer’s hard drive.  This computer can be a big old fashioned tower, or it can be a laptop that you take from place to place, but all your work and records are stored on <strong>your</strong> computer.</p>
    <p><strong>What are the disadvantages of the Desktop?</strong></p>
    <ul>
        <li>With a desktop application you can’t necessarily <strong>access your program </strong>from everywhere,</li>
        <li>and <strong>you have to take responsibility</strong> for protecting your data.</li>
    </ul>
    <p><strong>What are the advantages of the Desktop?</strong></p>
    <ul>
        <li>As said earlier you may not be able to access it from everywhere BUT <strong>you can use your program whenever you want to</strong>.</li>
        <li>When it comes to <strong>protecting your data</strong>, you are not relying on someone else to look after it for you. <strong>You get to look after it yourself</strong>. This could be by backing it up to a USB drive at least once a week, or having it set up to be done automatically on a daily or even hourly basis to a special backup drive.</li>
        <li><strong>With a desktop system you are in control.</strong> You can work when you want, have access to data without relying on someone else and even if the internet is down, you can still run your business.</li>
        <li><strong>Also, because the desktop is more robust</strong>, you can do more tasks on it at the same time.</li>
    </ul>
    <p>&nbsp;</p>
    <p><strong>WHAT DOES THE LEADING HAND HAVE TO OFFER?</strong></p>
    <p><strong> </strong>With The Leading Hand workshop management program you have a choice: <strong>you can run it from the desktop OR in the cloud service</strong>. In fact, <strong>we are the only automotive workshop management program that gives you that choice.  </strong></p>
    <p><strong> </strong>We have found most clients work from the one premise and so don’t need a Cloud system and if they have a multi-user licence they use a cable network. If they have more than one location, they make use of network systems like <strong>Terminal Server</strong>. Mobile businesses <strong>run the program from their laptop</strong>.  And other workshops have their Leading Hand <strong>running in the Cloud</strong>.</p>
    <p>The Leading Hand can be run in a very simple way, but also has very sophisticated features.  However whether it is used simply or more vigorously, <strong>the software works the same whether on the desktop or in the cloud and</strong> <strong>all parts of the program can be accessed</strong>. You can have as many jobs running at a time as you want, and even look up a phone number, send an email, book in stock or whatever you want to do, all at the same time. <strong>No light-weight program if running in the cloud.</strong></p>
    <p>The Leading Hand has a <strong>very simple backup system where you just need to use a memory stick </strong>and some of our users set up a regular automatic backup system.</p>
    <p>The Leading Hand is available to rent or buy, single-user and multi-user, and can be run in the cloud or on the desktop. If you rent The Leading Hand and then decide you don’t want to need to use it any more because you may sold your business, you can still access Reports which tell you about your customers and the work you did for them.</p>
    <p>&nbsp;</p>
    <p>With 25 years on the market, <strong>we</strong> <strong>at The Leading Hand</strong> <strong>understand that automotive businesses have different needs</strong> and that they want to use and access their program in different ways.</p>
    <p>To see how The Leading Hand will help your automotive business, @Html.ActionLink("download our free demo", "Demo", "Service").</p>
    <p>And if you want discuss the best way for you to use Leading Hand, @Html.ActionLink("please get in touch", "Contact", "Home") and we’ll work out the best solution for you.</p>
    <div class="sharedaddy sd-sharing-enabled">
        <div class="robots-nocontent sd-block sd-social sd-social-official sd-sharing">
            <h3 class="sd-title">Share this:</h3><div class="sd-content">
                <ul>
                    <li class="share-facebook"><div class="fb-share-button" data-href="2017/06/15/cloud-desktop-managing-automotive-workshop/" data-layout="button_count"></div></li>
                    <li class="share-twitter"><a href="twitter.com/share" class="twitter-share-button" data-url="2017/06/15/cloud-desktop-managing-automotive-workshop/" data-text="Cloud or Desktop for Managing Your Automotive Workshop?">Tweet</a></li>
                    <li class="share-pinterest"><div class="pinterest_button"><a href="www.pinterest.com/pin/create/button/?url=http%3A%2F%2F%2F2017%2F06%2F15%2Fcloud-desktop-managing-automotive-workshop%2F&#038;media=http%3A%2F%2F%2Fwp-content%2Fuploads%2F2017%2F06%2FCloud-technology.jpg&#038;description=Cloud%20or%20Desktop%20for%20Managing%20Your%20Automotive%20Workshop%3F" data-pin-do="buttonPin" data-pin-config="beside"><img src="assets.pinterest.com/images/pidgets/pinit_fg_en_rect_gray_20.png" /></a></div></li>
                    <li class="share-google-plus-1"><div class="googleplus1_button"><div class="g-plus" data-action="share" data-annotation="bubble" data-href="2017/06/15/cloud-desktop-managing-automotive-workshop/"></div></div></li>
                    <li class="share-linkedin">
                        <div class="linkedin_button">
                            <script type="in/share" data-url="2017/06/15/cloud-desktop-managing-automotive-workshop/" data-counter="right">
                            </script>
                        </div>
                    </li>
                    <li class="share-end"></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<footer>Filed Under: @Html.ActionLink("Uncategorized", "Uncategorized", "Category")</footer>


<div>
    @*<a href="2017/05/04/1051/" rel="prev">
            <span class="meta-nav">&larr;</span> Aiming for the best
        </a>*@
</div>
<div>
    @Html.ActionLink("When did you last backup your computer?", "BackupComputer")

</div>
<div><p class="comments-closed">Sorry, comments are closed for this post.</p></div>


<div>

    <a href="@Url.Action("AutometiveWorkshop","Blog")">
        <img src="@Url.Content("~/Images/CloudTechnologyLH.jpg")" alt="Cloud or Desktop for Managing Your Automotive Workshop?" />
    </a>

</div>



<div class="block-content">
    <ul class="widget-area">
        <li class="widget widget_search">
            <form method="get" id="searchform" action="">
                <label for="s" class="assistive-text">Search</label>
                <input type="text" class="field" name="s" id="s" value="Type to search, then press enter" onclick="if(this.value=='Type to search, then press enter')this.value='';" onblur="if(this.value=='')this.value='Type to search, then press enter';" />
                <input type="submit" class="submit" name="submit" id="searchsubmit" value="Search" />
            </form>
        </li>
        <li class="widget widget_recent_entries">
            <h3>Recent Posts</h3>
            <ul>
                <li>
                    @Html.ActionLink("Are you getting paid properly for what you do?", "PaidProperly")
                </li>
                <li>
                    @Html.ActionLink("When did you last backup your computer?", "BackupComputer")
                </li>
                <li>
                    @Html.ActionLink("Cloud or Desktop for Managing Your Automotive Workshop?", "AutomotiveWorkshop")
                </li>
                <li>
                    @Html.ActionLink("Aiming for the best", "AimingBest")
                </li>
                <li>
                    @Html.ActionLink("Lessons from Surfing", "")
                </li>
            </ul>
        </li>
    </ul>
</div>

