
@{
    ViewBag.Title = "BackupComputer";
}

<h2>BackupComputer</h2>
<h1 class="entry-title" itemprop="headline">When did you last backup your computer?</h1>
<div>
    Posted on 20/07/2017&bull;
    @Html.ActionLink(" 0 Comments", "BackupComputer")

</div><div class="entry-content" itemprop="text">
    <p>We’ve been helping a few people this week who have lost their hard drives or had a virus attack.</p>
    <p>If needed we can get your Leading Hand set up and running again.  But if you haven’t done a backup for a few weeks – or months – or years(!) the record of your work will be pretty out of date – and we can’t help you there.</p>
    <p><strong>The Leading Hand come with its own backup routine</strong>, which is quick and simple. All you need is a USB stick.</p>
    <p>Another idea is a <strong>whole of system backup software</strong>. Systems like ShadowProtect and CrashPlan will do automated backups of your hard disks on a regular basis. These can be useful for recovering from a catastrophic disk failure.</p>
    <p>What we also do at The Leading Hand is <strong>replace the hard disk every two years</strong>. The cost of quality hard disks is minimal and is far cheaper and less hassle than having your computer out of action for a week due to a hard disk crash. If you are not into playing computers, get your IT person to do it for you.</p>
    <p>If you&#8217;ve just read this, <strong>run a backup as soon as possible</strong>. Five minutes of your time now is much better than hours or days with your business not running.</p>

    <div>
        <h3>Share this:</h3>
        <div class="sd-content">
            <ul>
                <li class="share-facebook"><div class="fb-share-button" data-href="2017/07/20/last-backup-computer/" data-layout="button_count"></div></li>
                <li class="share-twitter"><a href="twitter.com/share" class="twitter-share-button" data-url="2017/07/20/last-backup-computer/" data-text="When did you last backup your computer?">Tweet</a></li>
                <li class="share-pinterest"><div class="pinterest_button"><a href="www.pinterest.com/pin/create/button/?url=http%3A%2F%2F%2F2017%2F07%2F20%2Flast-backup-computer%2F&#038;media=http%3A%2F%2F%2Fwp-content%2Fuploads%2F2017%2F07%2FComputers-on-fire.jpg&#038;description=When%20did%20you%20last%20backup%20your%20computer%3F" data-pin-do="buttonPin" data-pin-config="beside"><img src="assets.pinterest.com/images/pidgets/pinit_fg_en_rect_gray_20.png" /></a></div></li>
                <li class="share-google-plus-1"><div class="googleplus1_button"><div class="g-plus" data-action="share" data-annotation="bubble" data-href="2017/07/20/last-backup-computer/"></div></div></li>
                <li class="share-linkedin">
                    <div class="linkedin_button">
                        <script type="in/share" data-url="2017/07/20/last-backup-computer/" data-counter="right">
                        </script>
                    </div>
                </li>
                <li class="share-end"></li>
            </ul>
        </div>
    </div>
</div>

<footer>Filed Under: @Html.ActionLink("Uncategorized", "Uncategorized") </footer>
<div>
    @Html.ActionLink("Cloud or Desktop for Managing Your Automotive Workshop?", "AutomotiveWorkshop")
</div>
<div>
    @Html.ActionLink("Are you getting paid properly for what you do?", "PaidProperly")

</div><div><p>Sorry, comments are closed for this post.</p></div>
<a href="@Url.Action("BackupComputer","Blog")">
    <img src="@Url.Content("~/Images/ComputersOnFireLH.jpg")" alt="When did you last backup your computer?" />
</a>
<div class="block-content">
    <ul class="widget-area">
        <li class="widget widget_search">
            <form method="get" id="searchform" action="">
                <label for="s" class="assistive-text">Search</label>
                <input type="text" class="field" name="s" id="s" value="Type to search, then press enter" onclick="if(this.value=='Type to search, then press enter')this.value='';" onblur="if(this.value=='')this.value='Type to search, then press enter';" />
                <input type="submit" class="submit" name="submit" id="searchsubmit" value="Search" />
            </form>
        </li>
        <li>
            <h3>Recent Posts</h3>
            <ul>
                <li>
                    @Html.ActionLink("Are you getting paid properly for what you do?", "PaidProperly")
                </li>
                <li>
                    @Html.ActionLink("When did you last backup your computer?", "BackupComputer")
                </li>
                <li>
                    @Html.ActionLink("Cloud or Desktop for Managing Your Automotive Workshop?", "AutomotiveWorkshop")
                </li>
                <li>
                    @Html.ActionLink("Aiming for the best", "AimingBest")
                </li>
                <li>
                    @Html.ActionLink("Lessons from Surfing", "")
                </li>
            </ul>
        </li>
    </ul>
</div>
