@{
    ViewBag.Title = "Index";
}
<h1>Workshop management made easy</h1>
<div>
    <iframe width="530" height="291" src="www.youtube.com/embed/d4JnIEnCk4A?wmode=transparent&amp;rel=0&amp;feature=oembed" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
</div>
<div>
    <p>The Leading Hand software program has been helping workshops like yours provide a professional and customer focused automotive and plant service for more than 25 years.</p>
    <p style="margin-top: 0 !important;">We know what it’s like juggling the needs of the office with those of the workshop.  You want to be sure each job is done properly so the business runs smoothly and your customers keep coming back.  By making the Leading Hand part of your team, you can make this happen.</p>
    <p>&nbsp;</p>
    @Html.ActionLink("FIND OUT MORE", "Features", "Service")
</div>
<h1>Leading Hand can help your business</h1>
<div>
    <div><img src="@Url.Content("~/Images/LHScreen.png")" /></div>
    <div>
        <p>
            By using The Leading Hand the office is easier to run,<br />
            jobs are better organised and the workshop can concentrate<br />
            on cars, trucks, heavy machinery, transmissions,<br />
            or whatever the main focus of your business may be.
        </p>
        <p>
            All of which means, when you leave at the end of the<br />
            day, or take that dream holiday, you know your<br />
            business is functioning well.
        </p>
    </div>
</div>
<div>
    <p>@Html.ActionLink("BUY / RENT NOW", "BuyRent")</p>
</div>
<div>
    <p>@Html.ActionLink("FREE DEMO", "Demo")</p>
</div>

<div>
    <h1>
        See how some of our customers use The Leading Hand for <em>their</em> business.<br>
        Check Out Our Latest Case Studies
    </h1>
    <div>

        <a href="@Url.Action("KDMotorworx","Portfolio")">
            <img src="@Url.Content("~/Images/KDMWTroysUte.jpg")" alt="Computer technology helps with old fashioned service" width="380" height="285" />
        </a>
        <header>
            <h2 class="entry-title" itemprop="headline">
                @Html.ActionLink("Computer technology helps with old fashioned service", "KDMotorworx", "Portfolio")
            </h2>
        </header>

        <a href="@Url.Action("NoCourt","Portfolio")">
            <img src="@Url.Content("~/Images/DontGetCourt.jpg")" alt="Don’t Get Court Out" width="380" height="285" />
        </a>
        <header>
            <h2 class="entry-title" itemprop="headline">
                @Html.ActionLink("Don’t Get Court Out", "NoCourt", "Portfolio")
            </h2>
        </header>
        <a href="@Url.Action("ImportanceOfCommunication","Portfolio")">
            <img src="@Url.Content("~/Images/MooresFront.jpg")" alt="The importance of communication" width="380" height="285" />
        </a>
        <header>
            <h2 class="entry-title" itemprop="headline">
                @Html.ActionLink("The importance of communication", "ImportanceOfCommunication", "Portfolio")
            </h2>
        </header>
    </div>
</div>
<div class="entry-content">
    <p>
        @Html.ActionLink("MORE CASE STUDIES", "CaseStudies", "Service")
    </p>
</div>
<div>
    @* Link not required*@
    <h2>
        Testimonials
        @*<a href="home/testimonials/" title="Testimonials" rel="bookmark">Testimonials</a>*@
    </h2>
    <div>
        <p>Easy to understand and put to use. We'd recommend it to anyone looking for workshop software.</p>
        <p><strong>Bobbin Head Garage, Turramurra NSW</strong></p>
    </div>
    <div>
        <p>The Leading Hand is great. I've had the multi-user licence for several years and it is a vital part of my business. The Quick Invoices are particularly useful.</p>
        <p><strong>Kalmech, Kalgoorlie WA</strong></p>
    </div>
    <div>
        <p>The Leading Hand is an excellent product. The fact I have been using it for 20 years speaks for itself on how good the program is. It has been the backbone of our business. I have recommended it to many of my colleagues.</p>
        <p><strong>Ivor's Auto Services, Narangba QLD</strong></p>
    </div>
    <div>
        <p>The invoicing and customer histories help us to run our business efficiently.</p>
        <p><strong>Wing Tai Automotive, Granville NSW</strong></p>
    </div>
    <div>
        We really like how Leading Hand has improved communication between the office and the workshop. It saves so much time and means everyone knows what is going on.
        <p>
            <strong>
                Woody Motors, Berrigan NSW
            </strong>
        </p>
    </div>
</div>